    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        background: url("/img/pattern.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    html {
        min-height: 100vh;
        font-family: 'Montserrat', sans-serif;
        min-height: 100vh;
        background:
            radial-gradient(circle at 80% 80%, #231452, transparent 60%),
            radial-gradient(circle at 20% 20%, #3a1b4e, transparent 60%),
            /* linear-gradient(120deg, #1b0033, #090012), */
            linear-gradient(120deg, #08031f, #090012),
            repeating-linear-gradient(
            45deg,
            rgba(255,255,255,0.03),
            rgba(255,255,255,0.03) 1px,
            transparent 1px,
            transparent 6px
            );
        color: #ffffff;
    }

    /* ===== Layout geral ===== */
    .conteudo-geral {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    /* ===== Imagem ===== */
    .perfil {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(107, 25, 128, 0.6);
        will-change: transform;
        margin-bottom: 3rem;
    }

    .perfil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
    }

    .perfil img:hover {
        transform: scale(1.1);
    }


    /* ===== Título ===== */
    h1 {
        font-family: 'Krona One', sans-serif;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    /* ===== Texto ===== */
    .subtitulo {
        font-size: 1.1rem;
        text-align: center;
        max-width: 400px;
    }

    /* ===== Ícones ===== */
    .icones {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 40px 0;
    }

    .icones img {
        width: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .icones img:hover {
        transform: scale(1.1);
    }

    /* ===== Links ===== */
    .links {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .links a {
        text-decoration: none;
        text-align: center;
        padding: 22px 0;
        border: 3px solid #c000f5;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 100px;
        transition: all 0.3s ease;
        box-shadow: 0 0 30px rgba(107, 25, 128, 0.6);
    }

    .links a:hover {
        background-color: #c000f5;
        transform: translateY(-3px);
    }

    .rodape {
        padding: 30px 0 80px 0;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 1rem;
    }

    /* ===== Responsivo ===== */
    @media (max-width: 500px) {

        .apresentacao {
            margin-top: 50px;
        }

        .perfil {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 30px rgba(107, 25, 128, 0.6);
            will-change: transform;
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 1.3rem;
            max-width: 500px;
            margin-bottom: 1rem;
        }

        .subtitulo {
            font-size: 0.8rem;
            max-width: 300px;
        }

        .icones {
            gap: 20px;
            margin: 25px 0 50px 0;
        }

        .icones img {
            width: 40px;
        }

        .links {
            max-width: 300px;
            gap: 2rem;
        }

        .links a {
            padding: 18px 0;
            font-size: 0.9rem;
        }

        .rodape {
            font-size: 0.7rem;
        }
    }
